*.log
*.log.*
*.rdb
*.class
*.tmp
out
*.pyc
eclipse
nbproject
.settings
.project
.classpath
*.ipr
*.imr
*.iws
*.iml
*.ids
logs
test-result
version.conf
modules
tmp


.DS_Store
core
target
.idea
precompiled

# selenium
[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*

public/upload/
